<style>
  #dummyframe {
    display: none;
  }

  #form > div {
    margin-left: 10px;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    border-radius: 0;
    border-width: 0 0 1px;
    border-color: black;
    background-color: transparent;
    min-width: 250px;
    font-size: 16px;
    line-height: 1.15;
  }

  #formReqAnchor {
    width: 0;
    height: 0;
    position: relative;
    top: -100px;
  }

  #formReq,
  #emailReq,
  .reqNotif {
    color: red;
  }

  textarea {
    display: block;
    overflow: hidden;
  }

  #form > h4:not(:first-of-type) {
    margin-top: 20px;
  }

  .range-outer {
    display: flex;
    text-align: center;
  }

  .range-outer > div {
    padding: 10px;
  }

  .range-outer > div:first-of-type,
  .range-outer > div:last-of-type {
    align-self: flex-end;
    padding-bottom: 12px;
  }

  .range-label {
    padding-bottom: 5px;
  }
</style>

<iframe width="0" height="0" name="dummyframe" id="dummyframe"></iframe>
<form
  action="https://docs.google.com/forms/u/0/d/e/{{ form.id }}/formResponse"
  target="dummyframe"
  method="POST"
  id="form"
>
  <div id="formReqAnchor"></div>
  <span id="formReq" style="display: none">Please answer all required questions.</span>
  <span id="emailReq" style="display: none">Please enter a valid email.</span><br />
  {% for item in form.data %}
  <h4>{{ item.title }} {% if item.req == true %}<span class="reqNotif">*</span>{% endif %}</h4>
  <div>
    {% if item.sub %}
    <span>{{ item.sub }}</span><br />
    {% endif %} {% if item.type == "radio" %} {% for val in item.values %} {% unless forloop.index == 1 %}
    <br />
    {% endunless %}
    <label>
      {% if forloop.index == 1 %}
      <input type="radio" name="{{ item.id }}" value="{{ val }}" checked /> {{ val }} {% else %}
      <input type="radio" name="{{ item.id }}" value="{{ val }}" /> {{ val }} {% endif %}
    </label>
    {% endfor %} {% elsif item.type == "short" %}
    <input
      data-req="{{ item.req }}"
      type="text"
      autocomplete="off"
      name="{{ item.id }}"
      placeholder="{{ item.value }}"
      value=""
      dir="auto"
    />
    {% elsif item.type == "email" %}
    <input
      data-req="{{ item.req }}"
      type="email"
      autocomplete="off"
      name="emailAddress"
      placeholder="{{ item.value }}"
      value=""
      dir="auto"
    />
    {% elsif item.type == "long" %}
    <textarea data-req="{{ item.req }}" name="{{ item.id }}" rows="2" placeholder="{{ item.value }}"></textarea>
    {% elsif item.type == "range" %}
    <div class="range-outer">
      <div>
        <span>{{ item.min }}</span>
      </div>
      {% for val in item.values %}
      <div>
        <div class="range-label">
          <span>{{ val }}</span>
        </div>
        <div>
          {% if forloop.index == item.def %}
          <input type="radio" name="{{ item.id }}" value="{{ val }}" checked />
          {% else %}
          <input type="radio" name="{{ item.id }}" value="{{ val }}" />
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div>
        <span>{{ item.max }}</span>
      </div>
    </div>
    {% elsif item.type == "checkbox" %}
    <input type="hidden" name="{{ item.id }}_sentinel" value="" />
    {% for val in item.values %} {% unless forloop.index == 1 %}
    <br />
    {% endunless %}
    <label> <input type="checkbox" name="{{ item.id }}" value="{{ val }}" /> {{ val }} </label>
    {% endfor %} {% endif %}
  </div>
  {% endfor %}
  <br />
  <input type="button" value="Submit" id="submitBtn" />
</form>
<div id="success" style="display: none">{{ success }}</div>
<script>
  const eById = (v) => document.getElementById(v);
  const req = eById('form').querySelectorAll('[data-req=true]');

  eById('submitBtn').addEventListener('click', (e) => {
    eById('formReq').style.display = 'none';
    eById('emailReq').style.display = 'none';
    let valid = true;
    req.forEach((e) => {
      if (e.value.trim() == '') valid = false;
    });
    if (!valid) {
      eById('formReq').style.display = 'block';
      eById('formReqAnchor').scrollIntoView();
      e.preventDefault();
      return false;
    }
    eById('form')
      .querySelectorAll('input[type=email]')
      .forEach((e) => {
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!re.test(e.value)) valid = false;
      });
    if (!valid) {
      eById('emailReq').style.display = 'block';
      eById('formReqAnchor').scrollIntoView();
      e.preventDefault();
      return false;
    }
    eById('dummyframe').onload = () => {
      eById('dummyframe').src = '';
      eById('form').reset();
      eById('success').style.display = 'block';
      eById('form').style.display = 'none';
    };
    eById('form').submit();
    e.preventDefault();
    return false;
  });

  eById('form')
    .querySelectorAll('textarea')
    .forEach((el) => {
      el.addEventListener('focus', (e) => {
        e = e.target;
        if (e.getAttribute('data-init') !== 'true') e.setAttribute('data-init', 'true');
        else return false;
        const val = e.value;
        e.value = '';
        e.baseScrollHeight = e.scrollHeight;
        e.value = val;
        console.log('a');
      });
      el.addEventListener('input', (e) => {
        e = e.target;
        e.rows = 2;
        e.rows = 2 + Math.ceil((e.scrollHeight - e.baseScrollHeight) / 18);
      });
    });
</script>
