<div class="sponsor-container-wrapper">
    <h5 class="mb-2 text-md-left">SPONSORS</h5>
    <p class="lead text-md-left">Proudly sponsored by:</p>

    <div class="sponsor-container">
        <a href="https://www.janestreet.com/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/JaneSt.png" alt="">
        </a>
        <a href="https://www.imc.com/ap/careers/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/imc-logo.png" alt="">
        </a>
        <a href="https://www.taylorfry.com.au/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/Taylor_Fry.png" alt="">
        </a>
        <a href="https://www.treasury.gov.au/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/Treasury.png" alt="">
        </a>
        <a href="https://www.maths.unsw.edu.au/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/MathsStatsFaculty.png" alt="">
        </a>
        <a href="https://www.sig.com/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/SIG.png" alt="">
        </a>
        <a href="http://www.bain.com/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/Bain2.png" alt="">
        </a>
        <a href="https://www.citadel.com/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/Citadel_Combined.png" alt="">
        </a>
        <a href="https://www.arc.unsw.edu.au/">
            <img class="img-fluid center-block" src="{{ site.images }}/sponsors/Arc.png" alt="">
        </a>
    </div>
</div>