<div class="sponsor-container-wrapper">
  <h5 class="mb-2 text-md-left">SPONSORS</h5>
  <p class="lead text-md-left">Proudly sponsored by:</p>

  <div class="sponsor-container">
    <a href="https://www.janestreet.com/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/JaneSt.png" alt="" />
    </a>
    <a href="https://www.imc.com/ap/careers/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/imc-logo.png" alt="" />
    </a>
    <a href="https://www.taylorfry.com.au/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/Taylor_Fry.png" alt="" />
    </a>
    <a href="https://www.treasury.gov.au/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/Treasury.png" alt="" />
    </a>
    <a href="https://www.maths.unsw.edu.au/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/MathsStatsFaculty.png" alt="" />
    </a>
    <a href="https://www.sig.com/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/SIG.png" alt="" />
    </a>
    <a href="http://www.bain.com/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/Bain2.png" alt="" />
    </a>
    <a href="https://www.citadel.com/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/Citadel_Combined.png" alt="" />
    </a>
    <a href="https://www.arc.unsw.edu.au/" target="_blank">
      <img class="img-fluid center-block" src="/assets/img/sponsors/Arc.png" alt="" />
    </a>
  </div>
</div>
