.mathsoc-navbar {
  min-height: 4rem;
  background-color: rgb(244, 215, 227);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.dropdown-menu {
  background-color: rgb(253, 221, 230) !important;
}

.dropdown-item:hover {
  background-color: rgb(245, 196, 213) !important;
}