---
---

@import "navbar";
@import "button";
@import "footer";

.mathsoc-body {
	background: rgba(255,255,255,0.8);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.flex-container {
	display: flex;
	
	flex-flow: row wrap;
	justify-content: center;
		
}
.horizontal-container {
	display: flex;
	overflow: visible;
	overflow-inline: none;


	//flex-wrap: wrap;
	margin: 20px;
	width: 400px;
	
	
}

.vertical-container {
	overflow: visible;
	align-items: center;

	padding-inline: 2%;

}

.subcom-pic {
	// display: flex;
	
	width: 128px;
	height: 128px;
}

.sponsor-container {
	background-color: #eeeeee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.img-fluid {
	max-height: 100%;
}
.sponsor-pic {
	width: 200px;
	height: 100px;
	padding: 10px 10px 10px 10px;
	object-fit: scale-down;
}

.sponsor-container-wrapper {
	background: #eeeeee;
	padding: 50px 50px 50px 50px;
}

.backgroundimage {
	background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("{{ site.images }}/tmp_background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.nav-link {
	font-size: 18px;
}

.logo {
	max-height:70%;
	max-width:70%;	
}

.logo-container {
	display: flex;
	justify-content: center;
}