---
---

@import "navbar";
@import "button";
@import "footer";

.mathsoc-body {
	background: white;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.flex-container {
	display: flex;
	
	flex-flow: row wrap;
	justify-content: flex-start;
		
}
.horizontal-container {
	display: flex;

	margin: 1%;
	width: 48%;
	
	
}

.vertical-container {
	flex-direction: column;

	padding-inline: 2%;

}

.subcom-pic {
	width: 128px;
	height: 128px;
}

.sponsor-container {
	background-color: #eeeeee;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.img-fluid {
	max-height: 100%;
}
.sponsor-pic {
	width: 200px;
	height: 100px;
	padding: 10px 10px 10px 10px;
	object-fit: scale-down;
}

.sponsor-container-wrapper {
	background: #eeeeee;
	padding: 50px 50px 50px 50px;
}

